<h2>Chil Sang Sam Ro</h2>

<ol>
  <li>Fall into double low palm strike (I think that's what it's called)
  <li>Rise up, separate hands, step out, breathe, press
  <li>Step back double knife hand strike/block (like Pyong Ahn O dan, but hands open)
  <li>Turn, double inside/outside block, side kick, retreating Pyong Ahn Sa Dan motion
  <li>Turn, repeat
  <li>RIGHT FOOT IN, RIGHT FOOT OUT
  <li>Step right, high block/uppercut
  <li>"Propeller" motion
  <li>Settle, breathe, push
  <li>LEFT FOOT IN, RIGHT FOOT OUT (crossing axis of form)
  <li>Step left, high block/uppercut
  <li>"Propeller" motion
  <li>Settle, breathe, push
  <li>Right foot steps over, K blocks (Pyong Ahn Ee Dan)
  <li>Step center, check block
  <li>Step, double low cross block
  <li>Step, cover face, double high block, break
  <li>Step, double kidney strike
  <li>Step, double punch <b>KEOP</b>
  <li>Lowest possible block
  <li>(Sa Dan run) High knife hand block/strike, front kick, skip-in backfist <b>KEOP</b>
  <li>Retreat middle knife hand block
  <li>Horse stance palm, step horse stance palm, step front stance double spear hand <b>KEOP</b>
  <li>Drop fingers, right foot in/out double ridge hand, knife hand strike
  <li>Turn, repeat
  <li>Left foot in/out, high block
  <li>Beat the drum
  <li>LEFT FOOT IN, RIGHT FOOT OUT, high block <b>KEOP</b>
  <li>Beat the drum
</ol>