<h2>Chil Sang Ee Ro</h2>

<ol>
  <li>Low block, reverse knife hand
  <li>Knee kick, punch, punch
  <li>Turn, low block, reverse knife hand
  <li>Knee kick, punch, punch
  <li>Turn, augmented block
  <li>Horse stances, stepping -- punch, punch, punch <b>KEOP</b>
  <li>Turn, middle knife hand block, step punch
  <li>Turn, middle knife hand block, step punch
  <li>Turn, breathing motion, set
  <li>Pull, Front kick, breathing motion, set
  <li>Pull, Front kick, breathing motion, set
  <li>Pull only right hand to chamber, front kick, advance punch <b>KEOP</b>
  <li>Turn, low block back stance, step punch
  <li>Turn, low block back stance, step punch
</ol>
