<h2>Bassai</h2>

<ol>
  <li>Bassai chung bi !!!
  <li>Falling forward, supported inside/outside block
  <li>Full turn, inside/outside block, reverse inside/outside block
  <li>Full turn, reverse outside/inside block, inside/outside block
  <li>Break-escape against knee, half turn, outside/inside block,reverse inside/outside block
  <li>Half turn, right hand extended, set position
  <li>Knife hand strike, center punch, shifting inside/outside block
  <li>Shifting center punch, shifting inside/outside block
  <li>Advancing middle knife hand blocks (3); retreating middlingknife hand block
  <li>Sliding up, reinforced high block, side kick <b>KEOP</b>
  <li>Full turn, middle knife hand block, advancing middle knife handblock
  <li>Clear, double high block, break, double kidney strike
  <li>Jumping center punch <b>KEOP</b>
  <li>Full turn, double spear hand
  <li>Grab, retreating double block
  <li>Set position, outside/inside kick, low block
  <li>Slap back, outside/inside kick into the hand, elbow strike intothe hand
  <li>Down punch, double down punch, set position
  <li>Double strike, reset, shift over
  <li>Outside/inside kick, double strike, shift over
  <li>Outside/inside kick, double strike
  <li>¾ turn, clearing both hands, low active stance hammer strike
  <li>Lift hand, shoot hands back, clearing both hands, low activestance hammer strike,
  <li>Forward middle knife hand block
  <li>Half turn, middle knife hand block
  <li>Forward cross stepping middle knife hand block
  <li>Bassai Chung Bi
</ol>
