
<p>These forms make a capital <span style="font-family: serif; font-weight: bold">I</span> on the floor</p>

<h2>Basic Form 1</h2>
<p>low block, middle punch, middle punch</p>
<ol>
<li>Turn left, left low block
<li>Step, right middle punch
<li>Turn around, right low block
<li>Step, left middle punch
<li>Turn to the middle, left low block
<li>Step, left middle punch
<li>Step, right middle punch
<li>Step, left middle punch <b>KEOP</b>
<li>Big turn, left low block
<li>Step, right middle punch
<li>Turn around, right low block
<li>Step, left middle punch
<li>Down the middle, left low block
<li>Step, right middle punch
<li>Step, left middle punch
<li>Step, right middle punch <b>KEOP</b>
<li>Big turn, left low block
<li>Step, right middle punch
<li>Turn around, right low block
<li>Step, left middle punch
</ol>

<h2>Basic Form 2</h2>
<p>low block, high punch, high block</p>
<ol>
<li>Turn left, left low block
<li>Step, right high punch
<li>Turn around, right low block
<li>Step, left high punch
<li>Turn to the middle, left low block
<li>Step, left high block
<li>Step, right high block
<li>Step, left high block <b>KEOP</b>
<li>Big turn, left low block
<li>Step, right high punch
<li>Turn around, right low block
<li>Step, left high punch
<li>Down the middle, left low block
<li>Step, right high block
<li>Step, left high block
<li>Step, right high block <b>KEOP</b>
<li>Big turn, left low block
<li>Step, right high punch
<li>Turn around, right low block
<li>Step, left high punch
</ol>

<h2>Basic Form 3</h2>
<p>inside-outside block (back stance), middle punch, middle punch (side stance)</p>
<ol>
<li>Turn left, left inside outside block (back stance)
<li>Step, right middle punch
<li>Turn around, right inside outside block (back stance)
<li>Step, left middle punch
<li>Turn to the middle, left low block
<li>Step, left middle punch (side stance)
<li>Step, right middle punch (side stance)
<li>Step, left middle punch (side stance) <b>KEOP</b>
<li>Big turn, left inside outside block (back stance)
<li>Step, right middle punch
<li>Turn around, right inside outside block (back stance)
<li>Step, left middle punch
<li>Down the middle, left low block
<li>Step, right middle punch (side stance)
<li>Step, left middle punch (side stance)
<li>Step, right middle punch (side stance) <b>KEOP</b>
<li>Big turn, left inside outside block (back stance)
<li>Step, right middle punch
<li>Turn around, right inside outside block (back stance)
<li>Step, left middle punch
</ol>
