<h2>Chil Sang Il Ro</h2>

<ol>
  <li>“Santa move”
  <li>Step to front stance, breath, press, step punch
  <li>Turn, low ridge hand block, step to front stance, breath, press, step punch
  <li>“Santa move”
  <li>Side block
  <li>Middle knife hand block
  <li>Horse stance punch <b>KEOP</b>
  <li>Turn, front stance, scoop, set, press
  <li>Cross, breath, press
  <li>Pull to high inside outside block / low block, step punch
  <li>Turn, front stance, scoop, set, press
  <li>Cross, breath, press
  <li>Pull to high inside outside block / low block, step punch
  <li>Turn, low block, check block
  <li>Step, punch, high block
  <li>Step, punch, high block
  <li>Step, punch <b>KEOP</b>
  <li>Shift, press, hands to back hips (breath), set, press
  <li>Turn, augmented block
  <li>Shift, press, hands to back hips (breath), set, press
  <li>Turn, augmented block
  <li>Shift, press, hands to back hips (breath), set, press
</ol>