<h2>Pyong Ahn Cho Dan</h2>
<ol style="display: inline-block;">
  <li>Turn left, left low block
  <li>Step, right middle punch
  <li>Turn around, right low block
  <li>Pull right hand in and across <span class="stance">back stance</span>
  <li>Feet together, left hammer strike on top of the head
  <li>Turn right, left middle punch
  <li>Turn to the middle, left low block
  <li>Prepare <span class="stance">horse stance</span>
  <li>Left check block
  <li>Step, Right high block
  <li>Step, Left high block
  <li>Step, Right high block <b>KEOP</b>
  <li>Big turn, left low block
  <li>Step, right middle punch
  <li>Turn around, right low block
  <li>Step, left middle punch
  <li>Down the middle, left low block
  <li>Step, right middle punch
  <li>Step, left middle punch
  <li>Step, right middle punch <b>KEOP</b>
  <li>Big turn, left low knife hand <span class="stance">back stance</span>
  <li>Diagonal forward, right low knife hand <span class="stance">back stance</span>
  <li>Turn around, right low knife hand <span class="stance">back stance</span>
  <li>Diagonal forward, left low knife hand <span class="stance">back stance</span>
</ol>

<iframe src="https://www.youtube.com/embed/CbTweYE5rzI?rel=0&modestbranding=1" width="426" height="240" frameborder="0" allowfullscreen class="print-hidden" style="display: inline-block; vertical-align: top;"></iframe>
